.gauge-container {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.gauge-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #e5e7eb;
    border-radius: 50%;
    box-sizing: border-box;
}

.dark .gauge-body {
    background: #374151;
}

.gauge-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: conic-gradient(#4F46E5 0% 75%, transparent 75% 100%);
    border-radius: 50%;
    transform: rotate(-135deg);
    transition: all 1s ease-out;
    mask: radial-gradient(transparent 60%, black 61%);
    -webkit-mask: radial-gradient(transparent 60%, black 61%);
}

.gradient-text {
    background: linear-gradient(to right, #4F46E5, #9333ea);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}