.perspective-1000 {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.rotate-x-180 {
    transform: rotateX(180deg);
}

.rotate-y-180 {
    transform: rotateY(180deg);
}